# A requirements file used by our Travis CI/CD process
# to test and package the utilities. Refer to src/python/setup.py
# for the module's runtime requirements.

# For testing...
#coverage == 4.5.3
pyroma == 2.5

# In order to run 'python setup.py bdist_wheel'...
wheel == 0.33.4
twine==2.0.0
